@model MailRequest
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <br />
    <br />
    <div class="alert alert-success"><h3>E-Posta Gönderme Sayfası</h3></div>
    <form method="post">
        <label>Alıcı E-Posta Adresi</label>
        <input type="text" asp-for="ReceiverMail" class="form-control" />
        <br />
        <label>E-Posta Konusu</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <br />
        <label>Mesajınız</label>
        <textarea rows="5" asp-for="MessageContent" class="form-control"> </textarea>
        <br />
        <button class="btn btn-primary"> Gönder </button>
    </form>
</div>