
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <h3 class="alert alert-success">Dolar Alış: @ViewBag.usdToTRY TL - Dolar Satış: @ViewBag.tryToUsd</h3>
</div>

<div class="container">
    <br />
    <br />
    <h3 class="alert alert-danger">Euro Alış: @ViewBag.eurToTRY TL - Euro Satış: @ViewBag.tryToEur</h3>
</div>
